DB_HOST=localhost
DB_PORT=5444
DB_USER=postgres
DB_PASSWORD=mypassword
DB_NAME=dbname
DB_SSLMODE=disable



DATABASE_URL=postgresql://neondb_owner:npg_siz5OpR8NEJh@ep-delicate-wildflower-amab2ceo-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

TELEGRAM_BOT_TOKEN=8512709778:AAFlFW4csKHEnIFM5LeiJIa4Iu_f-L02HuQ